@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    int index = 0;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <td scope="col">#</td>
                <td scope="col">Başlık</td>
                <td scope="col">Başlangiç Tarihi</td>
                <td scope="col">Bitiş Tarihi</td>
                <td scope="col">İşlem</td>
            </tr>
        </thead>
        <tbody>
            @foreach (SinavModel item in Model.Sinavlar)
            {
            <tr>
                <td scope="row">@(++index)</td>
                <td>@item.Baslik</td>
                <td>@item.BaslangicTarihi.ToShortDateString()</td>
                <td>@item.BitisTarihi.ToShortDateString()</td>
                <td><a class="btn btn-success" asp-action="SinavGoruntule" asp-route-id="@item.Id">Görüntüle</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
