@model ESCS.WebUI.Models.SinavModel

@{
    ViewData["Title"] = "SinavGoruntule";
}

<h1>Sınav Görüntüle</h1>

<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaslangicTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaslangicTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icerik)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Geri</a>
</div>
